body {
    background-color: #f8f9fa;
}

.navbar {
    background-color: #373e61;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 15px;

}

.navbar-brand {
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
}

.navbar-brand:hover {
    color: #ffffff;
}

.navbar-toggler-icon {
    background-color: #ffffff;
}

.navbar-nav .nav-item {
    margin: 0 15px;
}

.navbar-nav .nav-link {
    color: #ffffff;
    font-size: 18px;
}

.navbar-nav .nav-link:hover {
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
}

.container {
    margin-top: 20px;
}

.dashboard-options {
    margin-top: 20px;
}

.jumbotron {
    background-color: #e5e5e5;
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 0.3rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow */
}

.option-card {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: box-shadow 0.3s, background-color 0.3s;
}

.option-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
}

.option-card i {
    font-size: 40px;
    margin-bottom: 10px;
}

.footer {
    background-color: #373e61;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    bottom: 0;
    width: 100%;
}
